doctype html
html
	head 
		title Awesome Star Wars Quotes

		// stylesheets
		link(rel='stylesheet', href='css/mystyle.css')
	body
		#bannerimg
			img(src="http://www.f-covers.com/cover/star-wars-stormtroopers-peace-sign-facebook-cover-timeline-banner-for-fb.jpg")
		h1 May Node, Express and the Force be with you
		


