doctype html
html
	head 
		title Awesome Star Wars Quotes

		// stylesheets
		link(rel='stylesheet', href='css/mystyle.css')

		//Font
		link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet', type='text/css')
	body
		h1 May Node, Express, MongoDB and the Force be with you
		#bannerimg
			img(src="http://www.f-covers.com/cover/star-wars-stormtroopers-peace-sign-facebook-cover-timeline-banner-for-fb.jpg")
			h3 Click on the stormtrooper to see a star wars quote
		#quote
		#form
			form(action='/quotes', method='POST')
				input(type='text', placeholder='name', name='name')
				input(type='text', placeholder='quote', name='quote')
				button(type='submit') Submit
		
		


